<div class="grid-x grid-margin-x">
  <div class="cell large-10 large-offset-1 offer-test">
    <div class="grid-x grid-margin-x">
      <div class="cell large-3">
        <div class="offer-img-con">
          <img src=<%= @img_url %> class="offer-img">
        </div>
      </div>
      <div class="cell large-6 offer-text">
        <h4>Special offer just for you</h4>
        <p class="offer-copy">you qualify for <%= @interest_rate_discount %> off your interest rate when you sign up for automatic payments</p>
        <p>*Restrictions apply</p>
      </div>
      <div class="cell large-3 offer-btn">
        <a class="button">Sign Up</a>
      </div>
    </div>
  </div>
</div>